{% extends "templates/base.twig" %}
{% block js_body_class %}cie-home{% endblock %}
{% block content %}
	{# carousel #}
	<section class="container-fluid">
		<div class="row">
			<div class="col p-0 mb-5">

				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="https://via.placeholder.com/1920x1080" alt="First slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="https://via.placeholder.com/1920x1080" alt="Second slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="https://via.placeholder.com/1920x1080" alt="Third slide">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

			</div>
		</div>
	</section>

	<section class="container mb-5 pb-md-4">
		<div class="row">
			<div class="col text-center">
				<h2>
					This is an intro title
				</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at ligula viverra, semper neque a, porta velit. Integer nulla elit, placerat id orci et, feugiat ultrices justo. Sed ornare tincidunt augue, a varius est condimentum a. Vivamus mattis pulvinar odio, vitae bibendum quam efficitur id. Aliquam elementum, urna commodo pretium ultricies, velit nisi blandit orci, eu finibus metus nisl in ipsum. Donec vestibulum felis mauris, et porta eros dictum ac. Pellentesque congue nisi metus, nec maximus turpis ultrices vitae. Sed luctus purus quis nulla porttitor pellentesque. Fusce mauris sem, fringilla eu malesuada eu, faucibus eget lorem.
				</p>
			</div>
		</div>
	</section>

	<section class="container mb-5 pb-md-4">
		<div class="row align-items-center">
			<div class="col-sm-12 col-md-6 order-1 order-md-2 mb-3 mb-md-0">
				<img class="d-block w-100" src="https://via.placeholder.com/750x500" alt="First slide">
			</div>
			<div class="col-sm-12 col-md-6 order-2 order-md-1">
				<h2>
					Alternating Content
				</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at ligula viverra, semper neque a, porta velit. Integer nulla elit, placerat id orci et, feugiat ultrices justo. Sed ornare tincidunt augue, a varius est condimentum a. Vivamus mattis pulvinar odio, vitae bibendum quam efficitur id. Aliquam elementum, urna commodo pretium ultricies, velit nisi blandit orci, eu finibus metus nisl in ipsum. Donec vestibulum felis mauris, et porta eros dictum ac. Pellentesque congue nisi metus, nec maximus turpis ultrices vitae. Sed luctus purus quis nulla porttitor pellentesque. Fusce mauris sem, fringilla eu malesuada eu, faucibus eget lorem.
				</p>
			</div>
		</div>
	</section>

	<section class="container mb-5 pb-md-4">
		<div class="row align-items-center">
			<div class="col-sm-12 col-md-6 mb-3 mb-md-0">
				<img class="d-block w-100" src="https://via.placeholder.com/750x500" alt="First slide">
			</div>
			<div class="col-sm-12 col-md-6">
				<h2>
					Alternating Content
				</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at ligula viverra, semper neque a, porta velit. Integer nulla elit, placerat id orci et, feugiat ultrices justo. Sed ornare tincidunt augue, a varius est condimentum a. Vivamus mattis pulvinar odio, vitae bibendum quam efficitur id. Aliquam elementum, urna commodo pretium ultricies, velit nisi blandit orci, eu finibus metus nisl in ipsum. Donec vestibulum felis mauris, et porta eros dictum ac. Pellentesque congue nisi metus, nec maximus turpis ultrices vitae. Sed luctus purus quis nulla porttitor pellentesque. Fusce mauris sem, fringilla eu malesuada eu, faucibus eget lorem.
				</p>
			</div>
		</div>
	</section>

	<section class="container mb-5 pb-md-4">
		<div class="row align-items-center">
			<div class="col-sm-12 col-md-6 order-1 order-md-2 mb-3 mb-md-0">
				<img class="d-block w-100" src="https://via.placeholder.com/750x500" alt="First slide">
			</div>
			<div class="col-sm-12 col-md-6 order-2 order-md-1">
				<h2>
					Alternating Content
				</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at ligula viverra, semper neque a, porta velit. Integer nulla elit, placerat id orci et, feugiat ultrices justo. Sed ornare tincidunt augue, a varius est condimentum a. Vivamus mattis pulvinar odio, vitae bibendum quam efficitur id. Aliquam elementum, urna commodo pretium ultricies, velit nisi blandit orci, eu finibus metus nisl in ipsum. Donec vestibulum felis mauris, et porta eros dictum ac. Pellentesque congue nisi metus, nec maximus turpis ultrices vitae. Sed luctus purus quis nulla porttitor pellentesque. Fusce mauris sem, fringilla eu malesuada eu, faucibus eget lorem.
				</p>
			</div>
		</div>
	</section>

	<section class="container mb-5 pb-md-5">
		<div class="row align-items-start text-center">
			<div class="col-sm-12 col-md-4">
				<h2>
					Reason 1
				</h2>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at ligula viverra, semper neque a, porta velit. Integer nulla elit, placerat id orci et, feugiat ultrices justo. Sed ornare tincidunt augue
			</div>
			<div class="col-sm-12 col-md-4">
				<h2>
					Reason 2
				</h2>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at ligula viverra, semper neque a, porta velit. Integer nulla elit, placerat id orci et, feugiat ultrices justo. Sed ornare tincidunt augue
			</div>
			<div class="col-sm-12 col-md-4">
				<h2>
					Reason 3
				</h2>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at ligula viverra, semper neque a, porta velit. Integer nulla elit, placerat id orci et, feugiat ultrices justo. Sed ornare tincidunt augue
			</div>
		</div>
	</section>


	{# <div class="container">
		<div class="row align-items-start">
			<div class="col col-sm-12 col-md-6">
				One of three columns
			</div>
			<div class="col">
				One of three columns
			</div>
			<div class="col">
				One of three columns
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col">
				One of three columns
			</div>
			<div class="col">
				One of three columns
			</div>
			<div class="col">
				One of three columns
			</div>
		</div>
		<div class="row align-items-end">
			<div class="col">
				One of three columns
			</div>
			<div class="col">
				One of three columns
			</div>
			<div class="col">
				One of three columns
			</div>
		</div>
	</div> #}
	{# {% for post in posts %}
	
	        {% include 'blocks/header/page-header.twig' %}
	
	        {{ post.content }}
	
	
	    {% endfor %} #}

{% endblock %}