<footer class="content-info bg-light pt-5 pb-4">
    <div class="container">
        {# {{ function('dynamic_sidebar', 'sidebar-footer') }} #}
		{# <i class="fas fa-abacus"></i> #}
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<ul role="list">
					<li role="listitem">
						Link 1
					</li>
					<li role="listitem">
						Link 2
					</li>
					<li role="listitem">
						Link 3
					</li>
				</ul>
			</div>
			<div class="col-sm-12 col-md-3 text-md-right">
				other misc info
			</div>
			<div class="col-sm-12 col-md-3 text-md-right">
				{{ site.name }} {{ "now"|date("Y") }}  All RIGHTS RESERVED 
			</div>
		</div>
    </div>
</footer>