<!doctype html>

<html class="no-js no-svg" {{ site.language_attributes }}>

    {% include 'blocks/head.twig' %}

	{# append body class for js specific pages #}
    <body class="{{body_class}} {% block js_body_class %}{% endblock %}" data-template="base.twig">

        {% include 'blocks/header/header.twig' %}

		{# main class block can be added to any template twig file #}
        <main class="main {% block main_class %}{% endblock %} pt-5 mt-2">
            {% block content %}{% endblock %}
        </main>

        {# 
            {% include 'blocks/sidebar.twig' %} 
        #}

        {% block footer %}
            {% include 'blocks/footer.twig' %}
			{% block page_js_scripts %}{% endblock %}
            
            {{ function('wp_footer') }}
        {% endblock %}

    </body>

</html>